/* WRAP */
.wrap {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: lightyellow;
  color: white;
  font-size: 20px;
  font-family: 'Share Tech Mono', monospace !important;
}
/* CONTAINER */
.base {
  width:100%;
  padding: 5px;
  background: black;
  display: flex;
  flex-direction: column;
}
/* FRAME */
.frame {
  min-width: 350px;
  max-width:350px;
  max-height: 420px;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* INFO */
.info {
  width: 100%;
  min-height: 50px;
  background: green;
  word-break: break-all;
  color: orange !important;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
/* INPUT */
.wrap__input {
  width: 100%;
  display: flex;
  justify-content: center;
}
.input {
  min-height: 30px;
  width: 300px;
  padding: 5px 10px;
  display: flex;
  justify-content: flex-end;
  word-break: break-all;
}
