.weather__header {
  height: 60px;
}
@media (max-width: 700px) {
  .weather__header {
    height: 180px;
    padding-top: 50px;
  }
  .weather__info {
    padding: 0;
    table {
      margin-bottom: 0;
    }
  }
}
