/* CONTAINER */
.container {
  width: 100%;
  height: 100vh;
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;

}
/* WRAPP */
.wrap__drum {
  max-width:660px;
  width:100%;
  height:300px;
  background-color:darkgrey;
  outline:5px solid yellow;
  display: flex;
}
/* PAD */
.drum__pad {
  width: 55%;
  height:100%;
}
/* PANEL */
.drum__panel {
  max-width:45%;
  width:100%;
  height:100%;
  border-left:2px solid black;
}
