.navi {
//  position: fixed;
 // top: 0;

  background-color: black;
  max-width: 350px;
  width:100%;
  height: 50px;
  display: flex;
  justify-content: center;
  ul {
    padding: 0;
  }
  li {
    list-style: none;
  }
  a {
    text-decoration: none;
    color: white;
    font-size: 28px;
    transition: all 0.2s linear;
    &:hover {
      color: #55acee;
    }
  }
}
