/* SCREEN */
.pomodoro__screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 55%;
  height: 40%;
  margin-top: 10px;
  border: 7px solid #13353a;
  border-radius: 50px;
  h2 {
    margin: 0;
  }
}

.pomodoro__time {
  font-family: 'digital-clock-font';
  font-size: 80px;
}
